<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<nav id="sticky-nav-bar" class="gradient-background">
<a href="/">
    <img src="engine128-logo.png" width="300px" alt="Home & About">
</a>
<ul class="main-navigation">
    <li class="nav-option">
        <a href="/">Main Page</a>
    </li>
<li class="nav-option">
        <a href="downloads">Downloads</a>
    </li>
    <li class="nav-option">
        <a href="features">Features</a>
    </li>
</ul>
</nav>
